html {
  height: 100%;
}

body {
  background-image: url('/assets/img/bgLogoSmall.png');
  margin: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

div {
  display: flex;
  justify-content: center;
  margin: 14rem 0;
}

canvas {
  border: 1px solid black;
  
}
